<div id="home">
  <div id="home-carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#home-carousel" data-slide-to="1"></li>
      <li data-target="#home-carousel" data-slide-to="2"></li>
      <li data-target="#home-carousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="assets/images/lelignery1.jpg" alt={{t "home.bannerAlt1"}}>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="assets/images/lelignery2.jpg" alt={{t "home.bannerAlt2"}}>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="assets/images/lelignery3.jpg" alt={{t "home.bannerAlt3"}}>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="assets/images/lelignery4.jpg" alt={{t "home.bannerAlt4"}}>
      </div>
    </div>
    <a class="carousel-control-prev" href="#home-carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#home-carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div class="container py-5">
    {{{t "home.text"}}}
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/VBlFHuCzPgY" allowfullscreen></iframe>
    </div>
  </div>
</div>

<div id="plans">
  <div class="container py-5">
    <h1 class="mb-5 text-white">{{t "location.title"}}</h1>
    <div class="row">
      <div class="col-sm-7">
        <div class="row mb-5">
          <div class="col">
            <img src="assets/images/localisation1.jpg" class="img-fluid" alt={{t "location.imgAlt1"}}>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <img src="assets/images/localisation2.jpg" class="img-fluid" alt={{t "location.imgAlt2"}}>
          </div>
        </div>
      </div>
      <div class="col">
        {{{t "location.text"}}}
      </div>
    </div>
  </div>
</div>

<div id="espace">
  <div class="container py-5">
    <h1 class="mb-5 text-white">{{t "commonArea.title"}}</h1>
    <div class="row">
      <div class="col-sm-7">
        <h4>{{t "commonArea.shops.title"}}</h4>
        <ul>
          <li>{{t "commonArea.shops.1"}}</li>
          <li>{{t "commonArea.shops.2"}}</li>
          <li>{{t "commonArea.shops.3"}}</li>
          <li>{{t "commonArea.shops.4"}}</li>
          <li>{{t "commonArea.shops.5"}}</li>
          <li>{{t "commonArea.shops.6"}}</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-7">
        <h4>{{t "commonArea.residence.title"}}</h4>
        <ul>
          <li>{{t "commonArea.residence.1"}}</li>
          <li>{{t "commonArea.residence.2"}}</li>
          <li>{{t "commonArea.residence.3"}}</li>
          <li>{{t "commonArea.residence.4"}}</li>
          <li>{{t "commonArea.residence.5"}}</li>
          <li>{{t "commonArea.residence.6"}}</li>
          <li>{{t "commonArea.residence.7"}}</li>
          <li>{{t "commonArea.residence.8"}}</li>
          <li>{{t "commonArea.residence.9"}}</li>
          <li>{{t "commonArea.residence.10"}}</li>
          <li>{{t "commonArea.residence.11"}}</li>
        </ul>
      </div>
      <div class="col">
        <div class="row mb-5">
          <div class="col">
            <img src="assets/images/lelignery4.jpg" class="img-fluid" alt={{t "commonArea.imgAlt1"}}>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="project" class="pt-5">
  <div class="container-fluid mt-5">
    <div class="container">
      <div class="row">
      <div class="col-sm-4">
        <img src="assets/images/logoLeligneryColor.png" class="img-fluid logo-height mx-auto d-block" alt={{t "images.default-alt"}}>
      </div>
      <div class="col-sm-1 vl display-sm-none"></div>
      <div class="col">
        <h1>{{t "advantages.title"}}</h1>
        <small class="text-uppercase">{{t "advantages.subTitle"}}</small>
        <p class="text-dark">
          {{{t "advantages.text"}}}
        </p>
        <ul class="text-dark">
          <li>{{t "advantages.1"}}</li>
          <li>{{t "advantages.2"}}</li>
          <li>{{t "advantages.3"}}</li>
          <li>{{t "advantages.4"}}</li>
          <li>{{t "advantages.5"}}</li>
          <li>{{t "advantages.6"}}</li>
          <li>{{t "advantages.7"}}</li>
        </ul>
      </div>
      </div>
    </div>
    <div class="row pt-5">
      <div class="col-12 col-sm-6 col-md-4 d-sm-flex p-0">
        <img src="assets/images/lelignery1.jpg" class="img-fluid" alt={{t "advantages.imgAlt1"}}>
      </div>
      <div class="col-12 col-sm-6 col-md-4 d-sm-flex p-0">
        <img src="assets/images/lelignery2.jpg" class="img-fluid" alt={{t "advantages.imgAlt2"}}>
      </div>
      <div class="col-12 col-sm-6 col-md-4 d-sm-flex p-0">
        <img src="assets/images/lelignery3.jpg" class="img-fluid" alt={{t "advantages.imgAlt3"}}>
      </div>
      <div class="col-12 col-sm-6 col-md-4 d-sm-flex p-0">
        <img src="assets/images/lelignery4.jpg" class="img-fluid" alt={{t "advantages.imgAlt4"}}>
      </div>
      <div class="col-12 col-sm-6 col-md-4 d-sm-flex p-0">
        <img src="assets/images/lelignery1.jpg" class="img-fluid" alt={{t "advantages.imgAlt5"}}>
      </div>
      <div class="col-12 col-sm-6  col-md-4 d-sm-flex p-0">
        <img src="assets/images/lelignery2.jpg" class="img-fluid" alt={{t "advantages.imgAlt6"}}>
      </div>
    </div>
  </div>
</div>

<div id="plans">
  <div class="container py-5">
    <h1 class="mb-5 text-white">{{t "unit.title2"}}</h1>
    <div class="row">
      <img src="assets/images/lelignerySoins.jpg" class="img-fluid col" alt={{t "unit.imgAlt1"}}>
    </div>
    <div class="row pt-4">
      <div class="col">
        <h3>{{t "unit.title"}}</h3>
        <ul>
          <li>{{t "unit.content.1"}}</li>
          <li>{{t "unit.content.2"}}</li>
          <li>{{t "unit.content.3"}}</li>
          <li>{{t "unit.content.4"}}</li>
          <li>{{t "unit.content.5"}}</li>
          <li>{{t "unit.content.6"}}</li>
          <li>{{t "unit.content.7"}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="personnal">
  <div class="container py-5">
    <div class="row">
      <div class="col-12 col-md-7 text-dark">
        <h3>{{t "personnal.title"}}</h3>
        {{{t "personnal.text"}}}
      </div>
      <div class="col text-dark">
        <img src="assets/images/lelignery5.jpg" class="img-fluid logo-height mx-auto d-block" alt={{t "images.default-alt"}}>
      </div>
    </div>
  </div>
</div>

<div id="unit">
  <div class="container py-5">
    <div class="row">
      <div class="col">
        <h1>{{t "unitDesc.title"}}</h1>
        <p>
          {{{t "unitDesc.text"}}}
        </p>
        <h4 class="mt-4">{{t "unitDesc.list.title"}}</h4>
        <ul>
          <li>{{t "unitDesc.list.1"}}</li>
          <li>{{t "unitDesc.list.2"}}</li>
          <li>{{t "unitDesc.list.3"}}</li>
          <li>{{t "unitDesc.list.4"}}</li>
          <li>{{t "unitDesc.list.5"}}</li>
          <li>{{t "unitDesc.list.6"}}</li>
          <li>{{t "unitDesc.list.7"}}</li>
          <li>{{t "unitDesc.list.8"}}</li>
          <li>{{t "unitDesc.list.9"}}</li>
          <li>{{t "unitDesc.list.10"}}</li>
          <li>{{t "unitDesc.list.11"}}</li>
          <li>{{t "unitDesc.list.12"}}</li>
          <li>{{t "unitDesc.list.13"}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="contact">
  <div class="container py-5">
    <h1 class="text-white">
      {{t "contact.title"}}
      <span class="float-right h4">
        <a href="#" class="fab fa-facebook-f p-2"></a>
        <a href="#" class="fab fa-twitter p-2"></a>
      </span>
    </h1>
    <p>
      {{t "contact.text"}}
    </p>
    <div class="row mt-5">
      <div class="col-sm-4">
        <div class="row">
          <div class="col-6 col-sm-12 pb-3">
            {{t "contact.phone"}} : <a href="tel:">{{t "contact.phone-number"}}</a><br>
            {{t "contact.fax"}} : <a href="tel:">{{t "contact.fax-number"}}</a><br>
            {{t "contact.email"}} : <a href="mailto:{{t "contact.email-address"}}">{{t "contact.email-address"}}</a>
          </div>
          <div class="col-6 col-sm-12 pb-3">
            {{!-- template-lint-disable no-triple-curlies  --}}
            {{{t "contact.address"}}}
          </div>
        </div>
      </div>
      <form class="col">
        <div class="form-row">
          <div class="col-sm-6">
            <div class="form-group">
              <input type="text" class="form-control" id="nameFormInput" placeholder={{t "contact.name"}}>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="emailFormInput" placeholder={{t "contact.email"}}>
            </div>
          </div>
          <div class="col">
            <div class="form-group h-100 pb-3">
              <textarea class="form-control h-100" id="messageFormInput" placeholder={{t "contact.message"}}></textarea>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <input type="text" class="form-control" id="phoneFormInput" placeholder={{t "contact.phone"}}>
            </div>
          </div>
          <div class="col">
            <button type="submit" class="btn btn-control mb-2 w-100 text-left">{{t "contact.send"}}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>